<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redux</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
      crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="app"><%- reactComponent -%></div>
    <script>window.INITIAL_STATE=<%- initialState -%></script>
    <script src="bundle.js"></script>
  </body>
</html>
